<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2" xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10" IgnorableNamespaces="uap mp uap4 iot uap3 uap2 mobile">
  <Identity Name="1c12b3c8-b106-4fef-a704-ee3a0e8afa64" Publisher="CN=mediaexplorer" Version="1.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="1c12b3c8-b106-4fef-a704-ee3a0e8afa64" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MicroTelnet</DisplayName>
    <PublisherDisplayName>mediaexplorer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MicroTelnet.App">
      <uap:VisualElements DisplayName="MicroTelnet" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="MicroTelnet" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="allJoyn" />
    <Capability Name="codeGeneration" />
    <uap4:Capability Name="offlineMapsManagement" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap4:Capability Name="userDataTasks" />
    <iot:Capability Name="systemManagement" />
    <uap3:Capability Name="remoteSystem" />
    <uap:Capability Name="objects3D" />
    <iot:Capability Name="lowLevelDevices" />
    <uap:Capability Name="sharedUserCertificates" />
    <uap:Capability Name="chat" />
    <uap:Capability Name="voipCall" />
    <uap:Capability Name="appointments" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <uap:Capability Name="blockedChatMessages" />
    <uap:Capability Name="contacts" />
    <uap:Capability Name="enterpriseAuthentication" />
    <uap2:Capability Name="phoneCallHistoryPublic" />
    <mobile:Capability Name="recordedCallsFolder" />
    <uap3:Capability Name="userNotificationListener" />
    <uap2:Capability Name="spatialPerception" />
    <uap:Capability Name="userAccountInformation" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="phoneCall" />
    <DeviceCapability Name="lowLevel" />
    <DeviceCapability Name="pointOfService" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>